.Harsh-centerheader{
  text-align:center;
  background-color:blue;
  background:
  url("https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2018/11/stop-taking-cliche-and-iconic-landscape-images.jpg");
}
.profile-pic{
  border-radius:100px;
}
#about{
  backgroung-class:pink;
}
carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}
